<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <link rel="stylesheet" href="/public/css/dev/example.css">
    <link rel="stylesheet" href="/public/js/dev/example.js">
    
</head>
<body>
    
</body>
</html>

